{%extends 'DocumentOfficer_index.html'%}
{%load static%}
{%block content%}

<style>
	@media (min-width: 576px){
	
    .d-sm-flex {
       display: inline-flex !important;
}}
</style>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

			<div class="bg-white shadow rounded-lg d-block d-sm-flex ">
				<div class="profile-tab-nav border-right ">
					<div class="p-4">
						<div class="img-circle text-center mb-3">
							<img src="{% static 'images/faces/face1.jpg' %}" alt="Image" class="circle-loader">
						</div>
						<h4 class="text-center">Vinay</h4>
					</div>
					<div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active  pr-lg-5" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
                            <i class="fa fa-home  mr-1">Account</i>
						
						</a>
						<a class="nav-link  pr-lg-5" id="profile-tab" data-toggle="pill" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
							<i class="fa fa-photo  mr-1"> Photo</i> 
							
						</a>
                        <a class="nav-link  pr-lg-5" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
							<i class="fa fa-key mr-1">Password</i> 
							
						</a>
						
                         
					</div>
				</div>
				<div class="tab-content  " id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
						<h3 class="mb-4">Account Settings</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Name</label>
								  	<input type="text" class="form-control" value="Vinay">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Date Of Birth</label>
								  	<input type="text" class="form-control" value="10-10-1990">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Email</label>
								  	<input type="text" class="form-control" value="vinay@gmail.com">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Phone number</label>
								  	<input type="text" class="form-control" value="7896523652">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Permanent Address 1</label>
								  	<input type="text" class="form-control" value="Ernakulam">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Permanent Address 2</label>
								  	<input type="text" class="form-control" value="Kaloor">
								</div>
							</div>
                            
                            
							
						</div>
						<div class="text-center">
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-warning">Cancel</button>
						</div>
					</div>
                    
					<div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
						<h3 class="mb-4">Password Settings</h3>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
								  	<label>Old password</label>
								  	<input type="password" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>New password</label>
								  	<input type="password" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Confirm new password</label>
								  	<input type="password" class="form-control">
								</div>
							</div>
						</div>
						<div class="text-center">
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-warning">Cancel</button>
						</div>
					</div>
			

                    <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<h3 class="mb-4">Change Profile Picture</h3>
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'images/faces/face1.jpg' %}" alt="Image" >
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Choose Picture</label>
								  	<input type="file" class="form-control">
								</div>
							</div>
							
						</div>
						<div class="text-center mt-3">
							<button class="btn btn-primary">Update</button>
							<button class="btn btn-warning">Cancel</button>
						</div>
					</div>
					
				</div>
			</div>
       





            


{% endblock %}