{% extends 'basehr.html' %} {% block content %}






<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="text-align:center">IT Head</h4>
            <form>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search" title="Type in a name" style="color:rgb(7, 6, 6);">
                </div>
            </form>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Contact
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                              Gender
                          </th>
                            

                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr>
                            <td class="py-1">
                                <a href="{% url 'ithead' %}" style="margin-left:20px;text-decoration:none;color: black;">
                                    <p><span><img src="static/images/faces/face1.jpg" alt="image" /></span> Herman Beck
                                    </p>
                                </a>
                            </td>
                            <td>
                                9462347896
                            </td>
                            <td>
                                beck@gmail.com
                            </td>
                            <td>
                              Male
                          </td>

                        </tr>
                        </a>
                        
                        
                        
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>




    
<style>
    .popup{
        width:450px;
        height:580px;
        background: white;
        border-radius:6px;
        position:absolute;
        transform: translate(-50%,-50%) scale(0.1);
        text-align:center;
        visibility:hidden;
        transition: transform 0.4s, top 0.4s;
        top:55%;
        left:60%;
        border-style:ridge;
        border-color:lightgreen;

    }
    .open-popup{
        visibility:visible;
        transform: translate(-50%,-50%) scale(1);

    }
  </style>

<br>
<br>
<br>

<div class="row">

            
            

            
    <div class="col-md-4 mb-4 stretch-card transparent">
        <div class="card card-tale" style="background-color:mediumseagreen;">
            <a href="{% url 'previousithead' %}">
                <div class="card-body">

                    <div class="mb-4  pt-4">
                        <h4 class="text-light" style="display: inline-block;">Team 1 </h4>
                        <h2 class="pl-5 text-light" style="float:right;display: inline-block;">4</h2>
                    </div>
                    
                </div>
            </a>
        </div>
    </div>
    
    


{% endblock %}