{% extends 'base.html' %} {% block content %}






<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="text-align:center">Lists of Student Councilors</h4>
            <form>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search" title="Type in a name" style="color:rgb(7, 6, 6);">
                </div>
            </form>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Contact
                            </th>
                            <th>
                                Email
                            </th>

                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr>
                            <td class="py-1">
                                <a href="{% url 'studens' %}" style="margin-left:20px;text-decoration:none;color: black;">
                                    <p><span><img src="static/images/faces/face1.jpg" alt="image" /></span> Herman Beck
                                    </p>
                                </a>
                            </td>
                            <td>
                                9462347896
                            </td>
                            <td>
                                beck@gmail.com
                            </td>

                        </tr>
                        </a>
                        <tr>
                            <td class="py-1">
                                <a href="{% url 'studens' %}" style="margin-left:20px;text-decoration:none;color: black;">
                                    <p><span><img src="static/images/faces/face2.jpg" alt="image" /></span> Messy Adam
                                    </p>
                                </a>
                            </td>
                            <td>
                                7845632189
                            </td>
                            <td>
                                messyadam@gmail.com
                            </td>

                        </tr>
                        <tr>
                            <td class="py-1">
                                <a href="{% url 'studens' %}" style="margin-left:20px;text-decoration:none;color: black;">
                                    <p><span><img src="static/images/faces/face3.jpg" alt="image" /></span> John Richards
                                    </p>
                                </a>
                            </td>
                            <td>
                                784563278932
                            </td>
                            <td>
                                richardjohns@gmail.com
                            </td>

                        </tr>
                        <tr>
                            <td class="py-1">
                                <a href="{% url 'studens' %}" style="margin-left:20px;text-decoration:none;color: black;">
                                    <p><span><img src="static/images/faces/face3.jpg" alt="image" /></span> Petter Maggik
                                    </p>
                                </a>
                            </td>
                            <td>
                                75563278932
                            </td>
                            <td>
                                petermaggik@gmail.com
                            </td>

                        </tr>
                        <tr>
                            <td class="py-1">
                                <a href="{% url 'studens' %}" style="margin-left:20px;text-decoration:none;color: black;">
                                    <p><span><img src="static/images/faces/face3.jpg" alt="image" /></span> Edward Joseph
                                    </p>
                                </a>
                            </td>
                            <td>
                                784578565
                            </td>
                            <td>
                                edward@gmail.com
                            </td>

                        </tr>
                        <tr>
                            <td class="py-1">
                                <a href="{% url 'studens' %}" style="margin-left:20px;text-decoration:none;color: black;">
                                    <p><span><img src="static/images/faces/face3.jpg" alt="image" /></span> John Doe
                                    </p>
                                </a>
                            </td>
                            <td>
                                4563218975
                            </td>
                            <td>
                                johndoe@gmail.com
                            </td>

                        </tr>
                        <tr>
                            <td class="py-1">
                                <a href="{% url 'studens' %}" style="margin-left:20px;text-decoration:none;color: black;">
                                    <p><span><img src="static/images/faces/face3.jpg" alt="image" /></span> Angelica Fernandez
                                    </p>
                                </a>
                            </td>
                            <td>
                                456327896
                            </td>
                            <td>
                                herytom45@gmail.com
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>



    
<style>
    .popup{
        width:400px;
        height:580px;
        background: white;
        border-radius:6px;
        position:absolute;
        transform: translate(-50%,-50%) scale(0.1);
        text-align:center;
        visibility:hidden;
        transition: transform 0.4s, top 0.4s;
        top:96%;
        left:60%;
        border-style: solid;
        border-color: lightgreen;

    }
    .open-popup{
        visibility:visible;
        transform: translate(-50%,-50%) scale(1);

    }
  </style>
<div class="container">
    <center>
        
    <button type="submit" class="btn btn-primary" style="float:center;" onclick="openPopup()">Add Student Councilors</button>
</center>
    <div class="popup" id="popup" style="background-color:lightgreen;">
        <a href="{% url 'sales' %}" class="btn btn-danger" style="float:right;"  onclick="closePopup()">X</a>
        <br>
        <br>
        <center>
        <h4>Student councilor</h4>
    </center>

        <form action="">
            <input type="text" placeholder="Name" style="width:315px;" name="firstname">
            <br>
            
            <br>
            
            <input type="text" placeholder="Contact no:" style="width:315px;" name="cntct">
            <br>
            <br>
            
            <input type="e-mail" placeholder="E-mail id:" style="width:315px;" name="email">
            <br>
            <br>
            
            <input type="textarea" placeholder="Address" style="width:315px;height:74px;" name="address">
            <br>
            
            <br>
            
            <input type="text" placeholder="State" style="width:315px;" name="state">
            <br>
            <br>
            

<select name="country" style="width:315px;" id="country">
  <option value="India">India</option>
  <option value="uk">UK</option>
  <option value="eng">England</option>
  
</select>
<br>

            <br>
            <label for="fileselect"  style="padding-left:75px;width:315px;"></label>
            <input type="file" name="upload" id="fileselect">
            <br>
            
        
            <a href="{% url 'sales' %}" class="btn btn-primary" style="width:75px;height:40px;" value="Submit" onclick="closePopup()">Submit</a>
        </form> 
    </div>
</div>
<script>
    let popup = document.getElementById("popup");

    function openPopup(){
        popup.classList.add("open-popup");

    }
    function closePopup(){
        popup.classList.remove("open-popup");

    }

</script>
<br>
<br>

<div class="row">

    
    

    
    <div class="col-md-4 mb-4 stretch-card transparent">
        <div class="card card-tale">
            <a href="{% url 'previousleads' %}">
                <div class="card-body">

                    <div class="mb-4  pt-4">
                        <h4 class="text-light" style="display: inline-block;">Previous student councilors </h4>
                        <h2 class="pl-5 text-light" style="float:right;display: inline-block;">10</h2>
                    </div>
                    <!-- <p class="mb-4 mt-3"><h4>Previous Leads</h4></p>
  <p class="fs-30  pt-2">2</p> -->
                </div>
            </a>
        </div>
    </div>
{% endblock %}